.barra-acoes {
    display: flex;
    width: 100%;

    .titulo {
        font-size: 20px;
        width: 100%;
    }

    .acoes {
        display: flex;
        align-items: end;
    }
}

.form-field {
    width: 100%;
    margin-top: 6px;
}

.barra-endereco-telefone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}